<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="MemberMapper">

    <!-- 회원정보 입력 -->
    <select id="insertMember" resultType="MemberDTO" parameterType="MemberDTO">
        insert into member
        (member_name, member_id, member_passwd, member_email)
        values (#{member_name}, #{member_id}, #{member_passwd}, #{member_email})
    </select>
    
    <!--  전체 조회-->
    <select id="findById" resultType="MemberDTO" parameterType="String">
        select * from member where member_id = #{memberId}
    </select>

    <select id="findByIdOrEmail" resultType= "MemberDTO" parameterType="MemberDTO" >
        select * from member where member_id = #{member_id} or member_email = #{member_email}
    </select>

    <update id="updateBalance" parameterType="MemberDTO">
        update member set member_balance = #{member_balance} where member_no = #{member_no}
    </update>
    <select id="findByNo" resultType="MemberDTO" parameterType="String">
        select * from member where member_no = #{member_no}
    </select>
    
    <!-- 아이디 찾기 -->
    <select id="findId" resultType="String" parameterType="map">
    	select member_id from member where member_name=#{member_name} and member_email=#{member_email}
    </select>
    <!-- 비밀번호 찾기 -->
    <select id="findPasswd" resultType="String" parameterType="map">
    	select member_passwd from member where member_name=#{member_name} and member_id=#{member_id} and member_email=#{member_email}
    </select>
</mapper>