<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="ProductMapper">

    <!-- 제품 추가 -->
    <insert id="insertProduct" parameterType="ProductDTO">
        insert into product
        (product_category, product_name, product_date, product_price, product_quantity)
        values (#{productCategory}, #{productName}, #{productDate}, #{productPrice}, #{productQuantity})
    </insert>
    
    <!-- 제품 조회 -->
    <select id="selectProduct" resultType="ProductDTO">
        select * from product
    </select>
    
    <!-- 제품 삭제 -->
    <delete id="deleteProduct" parameterType="ProductDTO">
        delete from product
        where product_no = #{productNo}
        and product_category = #{productCategory}
        and product_name = #{productName}
    </delete>
    
    <!-- 제품 수정 -->
    <update id="updateProduct" parameterType="ProductDTO">
        update product
        set product_category = #{productCategory},
            product_name = #{productName},
            product_date = #{productDate},
            product_price = #{productPrice},
            product_quantity = #{productQuantity}
        where product_no = #{productNo}
    </update>

</mapper>
